@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: whitesmoke;
}

nav {
  background: #c2d8e4;
  color: #3d4756;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 2em 0 #cacde1;
}

.nav_inner {
  max-width: 70rem;
  padding: 0 1.5em;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.brand {
  padding: 1rem 0;
}

.nav_links {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.nav_links li {
  list-style: none;
}

.nav_links li a {
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-weight: 400;
  font-size: 1.2em;
  color: #3d4756;
}

#hero {
  background-image: url("/pictures/carscrap.webp");
  background-position: center;
  background-size: cover;
  height: 60vh;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero_about {
  background-image: url("/pictures/junk.webp");
  background-position: center;
  background-size: cover;
  height: 60vh;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero_blog {
  background-image: url("/pictures/car2.webp");
  background-position: center;
  background-size: cover;
  height: 60vh;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero_contact {
  background-image: url("/pictures/abandoned-car5.webp");
  background-position: center;
  background-size: cover;
  height: 60vh;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: none;
}

#hero h1 {
  text-align: center;
  background-color: black;
  padding: 0.3em;
  color: ghostwhite;
}

#hero_about h1 {
  text-align: center;
  background-color: black;
  padding: 0.3em;
  color: ghostwhite;
}

#hero_blog h1 {
  text-align: center;
  background-color: black;
  padding: 0.3em;
  color: ghostwhite;
}

#hero_contact h1 {
  text-align: center;
  background-color: black;
  padding: 0.3em;
  color: ghostwhite;
}

.container {
  max-width: 960px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  padding: .5em;
}

.container h4, h3 {
  margin: .5em;
  text-align: center;
}

.itemOne {
  align-self: center;
}

.itemTwo p{
  margin:1em;
}

.btn{
  display: block;
  margin: auto;
  background: blue;
  color: white;
  cursor: pointer;
  padding: 1em 1.5em;
  font-size: 1rem;
  font-weight: 500;
  font-family: montserrat;
}

.wrapper {
  max-width: 960px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
  padding: .5em;
}

.first {
  align-self: center;
}

.first_about{
  align-self: center;
}

.first_contact {
  align-self: center;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.second p{
  text-align: justify;
  max-width: 90%;
  margin: auto;
  margin:1em;
}

.second {
  align-self: center;
}

.container_blog {
  max-width: 960px;
  margin: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.item_blog {
  margin: .5rem;
}

.item_blog img {
  width: 100%;
  height: 350px;
  margin: auto;
  object-fit: cover;
}

.imem_blog h2 {
text-align: left;
}

.item_blog p {
  padding: 1rem;
  text-align: left;
}


.post_content p {
  margin: 1rem;
}

.post_content h4, .post_content h2 {
  text-align: center;
  margin: .5rem;
}

.btn_blog {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  margin: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.start  {
  text-align: center;
  text-decoration: underline;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  background: #c2d8e4;
  flex-direction: row;
  justify-content: center;
}

.social {
  display: flex;
  align-items: center;
}

.social i {
  margin: 1rem;
  font-size: 24px;
}

.fa-facebook-messenger {
  color: #006aff;
}

.fa-phone {
  color: brown;
}

.fa-viber{
  color: #7360f2;
}

.copy {
  align-items: center;
  margin: 1rem;
}

/*blog post style*/

.blog_post {
  max-width: 960px;
  margin: auto;
  padding: .75rem;
}

.blog_post img {
  width: 100%;
}

/* mobile first */

@media (max-width: 42rem) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .nav_links {
    display: none;
  }

  .nav_links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .container {
    display: grid;
    gap: 1em;
    margin: auto;
    align-items: center;
    max-width: 95%;
  }

  .container_blog {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .container h4, h3, p {
    text-align: center;
  }
  
  .container p {
    text-align: justify;
  }

  .post_content p {
    margin: 1rem;
    text-align: justify;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .social {
    justify-content: center;
  }
 
}
